<div class="root">

    <mat-toolbar>
        <span style="margin-right: 16px; padding-right: 16px; border-right: 1px solid #fff4">AI Art</span>
        <button mat-button><a href="https://github.com/knackstedt">GitHub</a></button>
        <button mat-button><a href="https://www.linkedin.com/in/andrew-knackstedt/">LinkedIn</a></button>
        <div style="flex: 1"></div>
        <button mat-icon-button (click)="showInfoDialog()">
            <img style="width: 22px; height: 22px;" src="assets/icons/dialog-question-symbolic.svg">
        </button>
    </mat-toolbar>
    <div style="flex: 1">
        <mat-tab-group>
            <mat-tab *ngFor="let imageGroup of carouselImageGroups" [label]="imageGroup.group">
                <swiper
                    #swiper
                    style="--swiper-navigation-color: #fff;--swiper-pagination-color: #fff"
                    [speed]="600"
                    [resistanceRatio]="0"
                    [centeredSlides]="true"
                    [spaceBetween]="spaceBetween"
                    [lazy]="true"
                    [pagination]="{ clickable: true, type: 'fraction' }"
                    [navigation]="true"
                    [keyboard]="{ enabled: true }"
                    [virtual]="false"
                    (slideChange)="onSlideChanged($event, imageGroup)"
                    (tap)="toggleFullscreen($event)"
                    >
                    <ng-template swiperSlide *ngFor="let image of imageGroup.items; let i = index">
                        <div class="container">
                            <div class="background"></div>

                            <div class="cover">
                                <img [src]="image.url">
                            </div>

                            <div class="prompt">
                                <span>{{image.prompt}}</span>
                            </div>
                        </div>
                    </ng-template>
                </swiper>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
