// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();


$dark-app-theme: mat.define-dark-theme((color: (
    primary: mat.define-palette(mat.$blue-palette),
    accent: mat.define-palette(mat.$purple-palette, A200, A100, A400),
    warn: mat.define-palette(mat.$amber-palette),
)));

@include mat.all-component-themes($dark-app-theme);


.mat-progress-spinner circle,
.mat-spinner circle {
    stroke: #fff;
}

.mat-toolbar {
    background: radial-gradient(#4a1c9b, #1999ff);
    background-size: 200vw 400px;
    background-position-x: -100vw;
    background-repeat: no-repeat;
    background-position-y: -200px;
}

.mat-button, .mat-button a {

    font-size: large;
    text-decoration: none;
    color: #ccc;
    padding: 4px 12px;
    border-bottom: 2px solid transparent;
    transition: all .4s ease-in-out;

    &:hover {
        color: #fff;
        border-color: #03a9f4;
    }
}

.mat-tab-group,
.mat-tab-body-wrapper {
    height: 100%;
}
